<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <pre>data = {{ data | json }}</pre>
                <pre>form.value = {{ form.value | json }}</pre>
                <form class="user" #form="ngForm" (ngSubmit)="onSubmit(form)">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user"
                    [class.is-invalid]="mEmail.touched && mEmail.invalid"
                           aria-describedby="emailHelp" placeholder="Enter Email Address..."
                           [ngModel]="data.email" #mEmail="ngModel" name="email" required email>
                    <div class="invalid-feedback" *ngIf="mEmail.invalid && mEmail.dirty && mEmail.errors.required">請輸入 Email</div>
                    <div class="invalid-feedback" *ngIf="mEmail.invalid && mEmail.dirty && mEmail.errors.email">請輸入正確的 Email 格式</div>
<pre>value = {{ mEmail.value | json }}
pristine = {{ mEmail.pristine | json }}
dirty = {{ mEmail.dirty | json }}
touched = {{ mEmail.touched | json }}
untouched = {{ mEmail.untouched | json }}
enabled = {{ mEmail.enabled | json }}
disabled = {{ mEmail.disabled | json }}
valid = {{ mEmail.valid | json }}
invalid = {{ mEmail.invalid | json }}
status = {{ mEmail.status | json }}
errors = {{ mEmail.errors | json }}
</pre>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" placeholder="Password"
                      [class.is-invalid]="mPassword.touched && mPassword.invalid"
                      [ngModel]="data.password" #mPassword="ngModel" name="password"
                      required minlength="3" maxlength="32" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{3,32}$">
                    <div class="invalid-feedback" *ngIf="mPassword.invalid && mPassword.errors.required">請輸入密碼</div>
                    <div class="invalid-feedback" *ngIf="mPassword.invalid && mPassword.errors.minlength">密碼請輸入至少 {{mPassword.errors.minlength.requiredLength}} 個字元</div>
                    <div class="invalid-feedback" *ngIf="mPassword.invalid && mPassword.errors.pattern">請輸入符合規定的密碼</div>
                    <pre>errors = {{ mPassword.errors | json }}</pre>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck"
                        [ngModel]="data.isRememberMe" #mIsRememberMe="ngModel" name="isRememberMe">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>

                  <section ngModelGroup="extra" #mExtra="ngModelGroup">

                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" placeholder="輸入您的姓名"
                        ngModel #mExtraName="ngModel" name="name">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" placeholder="輸入您的電話(09xx000000)"
                        ngModel #mExtraName="ngModel" name="tel" pattern="\d{10}">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" placeholder="輸入您的身份證字號"
                      [class.is-invalid]="mExtraTwid.touched && mExtraTwid.invalid"
                        ngModel #mExtraTwid="ngModel" name="twid" pattern="[A-Z]\d{9}" appTwid>
                      <pre>{{ mExtraTwid.errors | json }}</pre>
                    </div>

                  </section>

                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Login
                  </button>
                  <hr>
                  <button type="button" class="btn btn-google btn-user btn-block" disabled>
                    <i class="fab fa-google fa-fw"></i> Login with Google (not implemented)
                  </button>
                  <button type="button" class="btn btn-facebook btn-user btn-block" disabled>
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook (not implemented)
                  </button>
                </form>
                <hr>
                <div class="text-center">
                  <span class="small text-muted">Forgot password is not implemented.</span>
                </div>
                <div class="text-center">
                  <span class="small text-muted">Account registration is not implemented.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
